# Never cache "latest.jpg".
<FilesMatch "latest\.(jpeg|jpg)$">
	<IfModule mod_expires.c>
		ExpiresActive Off
	</IfModule>
	<IfModule mod_headers.c>
		FileETag None
		Header unset ETag
		Header unset Pragma
		Header unset Cache-Control
		Header unset Last-Modified
		Header set Pragma "no-cache"
		Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
		Header set Expires "Sun, 1 Dec 2019 00:00:00 GMT"
	</IfModule>
</FilesMatch>

# Cache the normal, historic webcam photos ("image-2019120211303701.jpg", etc)
<FilesMatch "^image\.">
  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=2592000, public, must-revalidate"
  </IfModule>
</FilesMatch>
